.__dumi-default-layout{
    box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 4px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #ccc;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background: #ededed;
}

